name: test-builds
run-name: Build Inferno
on: [push, workflow_dispatch]

jobs:
  clone-and-build-repo:
    runs-on: ubuntu-20.04
    steps:
      - name: Get dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y libc6-dev-i386
      - name: Clone the repository
        run: git clone -b stm32f405 https://github.com/dboddie/inferno-os.git inferno-os
      - name: Build the host system
        run: |
          cd $GITHUB_WORKSPACE/inferno-os
          sed -ri 's|/usr\/inferno|'$PWD'|' mkconfig
          sed -ri 's/SYSHOST=Plan9/SYSHOST=Linux/' mkconfig
          sed -ri 's/#OBJTYPE/OBJTYPE/' mkconfig
          sed -ri 's/OBJTYPE=\$/#OBJTYPE=\$/' mkconfig
          sed -ri 's/\temu/#\temu/' mkfile
          ./makemk.sh
          export PATH=$PWD/Linux/386/bin/:$PATH
          mk nuke
          mk mkdirs
          mk install
